<!-- Heading showing which user's profile we are on -->
<% if @user == current_user %>
	<h2>My Profile</h2>
<% else %>
	<h2><%= @user.username %>'s Profile</h2>
<% end %>

<!-- User's information -->
	<p><b>Name:</b> <%= @user.fname %> <%= @user.lname %><p>
	<p><b>Email:</b> <%= @user.email %></p>
	<p><b>Member Since:</b> <%= @user.created_at.strftime(" %B %d, %Y")%></p>
	<%= image_tag @user.avatar.url(:medium), id: :userpic %>
	<br>
	<%= link_to "[Edit My Account]", edit_user_path(@user) %>
	<hr>

<!-- User's boats-->
<% if @user == current_user %>
	<h2>My Boats</h2>
<% else %>
	<h2><%= @user.username %>'s Boats</h2>
<% end %>
<!-- If user has boats, it will list them -->
<% if @user.boats != [] %>
	<% @user.boats.each do |t| %>
		<p><b>Boat Name:</b> <%= t.name %></p>
		<p><b># of Containers:</b> <%= t.containermax %></p>
		<p><b>Current Location:</b> <%= t.location %></p>
		<p><b>Boat Owner:</b> <%= t.user.username %></p>
		<%= image_tag t.avatar.url(:medium) %>
		<br>
			<%= link_to "Show Details", boat_path(t) %>
		<!-- User can only edit / delete boats on their own profile page -->
		<% if @user == current_user %>
				&#9875;
			<%= link_to "Edit Boat", edit_boat_path(t) %>
				&#9875;
			<%= link_to "Delete Boat", t, method: :delete %>
			<hr>
		<% end %>
	<% end %>
<!-- If there are no boats, it will say so -->
<% else %>
	<p>No boats yet...</p>
	<hr>
<% end %>

<!-- User can only add boats on their own profile page -->
<% if @user == current_user %>
	<h2>Add New Boat</h2>

<% if @boat.errors.full_messages.any? %>
				<ul>
					<% @boat.errors.full_messages.each do |e| %>
						<li> <%= e %></li>
						<li><br></li>
					<% end %>
				</ul>
			<% end %>


	<%= form_for @boat do |t| %>
		<h3><%= t.label "name:" %></h3>
		<%= t.text_field :name %>
		<br><br>
		<h3><%= t.label "number of containers:" %></h3>
		<%= t.select :containermax, (1..100), prompt: :select %>
		<br><br>
		<h3><%= t.label "current location:" %></h3>
		<%= t.select :location, ["Bermuda", "Dakar", "Miami", "New York City", "Panama", "Trinidad"], prompt: :select %>
		<br><br><br>
		<h3><%=t.label "boat picture" %></h3>
		<%= t.file_field :avatar %>
		<br><br><br>
		<%= t.submit :create %>
	<% end %>
<%end%>