<!-- Heading showing which user's profile we are on -->
<% if @user == current_user %>
	<h2>My Profile</h2>
<% else %>
	<h2><%= @user.username %>'s Profile</h2>
<% end %>

<!-- User's information -->
	<p><b>Name:</b> <%= @user.fname %> <%= @user.lname %><p>
	<p><b>Email:</b> <%= @user.email %></p>
	<p><b>Member Since:</b> <%= @user.created_at.strftime(" %B %d, %Y")%></p>
	<hr>

<!-- User's boats-->
<% if @user == current_user %>
	<h2>My Boats</h2>
<% else %>
	<h2><%= @user.username %>'s Boats</h2>
<% end %>
<!-- If user has boats, it will list them -->
<% if @user.boats != [] %>
	<% @user.boats.each do |t| %>
		<p><b>Boat Name:</b> <%= t.name %></p>
		<p><b># of Containers:</b> <%= t.containermax %></p>
		<p><b>Location:</b> <%= t.location %></p>
		<p><b>Boat Owner:</b> <%= t.user.username %></p>
			<%= link_to "Show Details", boat_path(t) %>
		<!-- User can only edit / delete boats on their own profile page -->
		<% if @user == current_user %>
				&#9875;
			<%= link_to "Edit Boat", edit_boat_path(t) %>
				&#9875;
			<%= link_to "Delete Boat", t, method: :delete %>
			<hr>
		<% end %>
	<% end %>
<!-- If there are no boats, it will say so -->
<% else %>
	<p>No boats yet...</p>
<% end %>

<!-- User can only add boats on their own profile page -->
<% if @user == current_user %>
	<h2>Add New Boat</h2>
	<%= form_for @boat do |t| %>
		<%= t.label :name %>
		<%= t.text_field :name %>
		<br>
		<%= t.label :number_of_containers %>
		<%= t.text_field :containermax %>
		<br>
		<%= t.label :location %>
		<%= t.text_field :location %>
		<br>
		<%= t.submit :create %>
	<% end %>
<%end%>