<h2>Welcome to Shipster</h2>
<hr>
<h2>Please Log In:</h2>

<%= form_tag log_in_path do %>
<h3><%= label_tag(:username) %></h3>
<%= text_field_tag(:username) %>
<h3><%= label_tag(:password) %></h3>
<%= password_field_tag(:password) %>
<br><br>
<%= submit_tag("Log In") %>
<% end %>

<br>
<h3>Or sign up <%= link_to "here", new_user_path %> </h3>
