<h1>Edit Boat Details</h1>


<%= form_for @boat do |t| %>
	<h3><%= t.label :name %></h3>
	<%= t.text_field :name %>
	<h3><%= t.label :number_of_containers %></h3>
	<%= t.text_field :containermax %>
	<h3><%= t.label :location %></h3>
	<%= t.text_field :location %>
	<%= t.submit :update %>
<% end %>
