<h2>All Boats</h2>

<% @boats.each do |t| %>
	<hr>
	<p><b>Shipment Name:</b> <%= t.name %></p>
	<p><b># of Containers:</b> <%= t.containermax %></p>
	<p><b>Current Location:</b> <%= t.location %></p>
	<p><b>Shipment Owner:</b> <%= t.user.username %></p>
	<%= image_tag t.avatar.url(:medium) %>
	<br>
		<%= link_to "Show Details", boat_path(t) %>
		<!-- User can edit or delete boats if they belong to the user -->
		<% if t.user == current_user %>
				&#9875;
			<%= link_to "Edit Boat", edit_boat_path(t) %>
				&#9875;
			<%= link_to "Delete Boat", t, method: :delete %>
		<% end %>

		<!-- User can unfollow boats -->
		<% if @current_user.followedboats.find_by(id: t.id) %>
			<%= form_for(@current_user.userfollowboats.find_by(boat_id: t.id), html: {method: :delete}) do |f| %>
				<%= hidden_field_tag :boat_id, t.id %>
				<%= f.submit "unfollow" %>
			<% end %>
		<!-- User can follow boats -->
		<% else %>
			<%= form_for(@current_user.userfollowboats.build) do |f| %>
				<%= hidden_field_tag :boat_id, t.id %>
				<%= f.submit "follow" %>
			<%end%>
		<%end%>

<% end %>
