<h2>All Boats</h2>

<% @boats.each do |t| %>
	<hr>
	<p><b>Shipment Name:</b> <%= t.name %></p>
	<p><b># of Containers:</b> <%= t.containermax %></p>
	<p><b>Current Location:</b> <%= t.location %></p>
	<p><b>Shipment Owner:</b> <%= t.user.username %></p>
		<%= link_to "Show Details", boat_path(t) %>
	<% if t.user == current_user %>
				&#9875;
			<%= link_to "Edit Boat", edit_boat_path(t) %>
				&#9875;
			<%= link_to "Delete Boat", t, method: :delete %>
		<% end %>
<% end %>
