<h2><%= @boat.name %> Details</h2>
	<hr>
	<p><b>Name:</b> <%= @boat.name %></p>
	<p><b># of Containers:</b> <%= @boat.containermax %></p>
	<p><b>Location:</b> <%= @boat.location %></p>
	<p><b>Boat Owner:</b> <%= @boat.user.username %></p>
	<!-- User can only edit / delete their own boats -->
	<% if @boat.user == current_user %>
		<%= link_to "Edit Boat", edit_boat_path(@boat) %>
			&#9875;
		<%= link_to "Delete Boat", @boat, method: :delete %>
		<hr>
	<% end %>

<h2>Jobs:</h2>
	<% if @boat.jobs != [] %>
		<% @boat.jobs.each do |t| %>
			<% unless t.new_record? %>
				<p><%= t.name %></p>
				<%= link_to "Job Details", boat_job_path(@boat, t) %>
				<hr>
			<% end %>
		<%end %>
	<% else %>
		<p>No current jobs</p> 
		<hr>
	<% end %>

	<% if @boat.user == current_user %>
		<h2>Create New Job</h2>

			<% if @job.errors.full_messages.any? %>
				<ul>
					<% @job.errors.full_messages.each do |e| %>
						<li> <%= e %></li>
						<li><br></li>
					<% end %>
				</ul>
			<% end %>

			<%= form_for [@boat, @job] do |t| %>
				<%= t.label "name:" %>
				<%= t.text_field :name %>
				<br><br>
				<%= t.label "description:" %>
				<%= t.text_field :description, placeholder: :minimum_50_characters %>
				<br><br>
				<%= t.label "cost (in $):" %>
				<%= t.text_field :cost, placeholder: "Minimum $1000" %>
				<br><br>
				<%= t.label "containers needed:" %>
				<%= t.select :containers_needed, (1..100), prompt: :select %>
				<br><br>
				<%= t.label "origin:" %>
				<%= t.select :origin, ["Bermuda", "Dakar", "Miami", "New York City", "Panama", "Trinidad"], prompt: :select %>
				<br><br>
				<%= t.label "destination:" %>
				<%= t.select :destination, ["Bermuda", "Dakar", "Miami", "New York City", "Panama", "Trinidad"], prompt: :select %>
				<br><br>
				<%= t.submit :create, value: :create %>
			<% end %>
	<% end %>