<!DOCTYPE html>
<html>
<head>
  <title>SHIPSTER</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
</head>
<body>

	<% if flash[:notice] %>
			<p id="flash"><%= flash[:notice] %></p>
	<% end %>

	<header>
		<% if current_user %>
		<nav>
			<ul>
				<li><a href="/log-out">LOG OUT</a></li>
				<li><%= link_to "MY ACCOUNT", user_path(current_user)  %></li>
				<li><%= link_to "ALL BOATS", boats_path %></li>
			</ul>
		</nav>
		<% else %>
				<nav>
				</nav>
		<% end %>
		<h1>SHIPSTER</h1>
	</header>

	<div class="main">
		<%= yield %>
	</div>

</body>
</html>
